
shaders/textures/ignore/earthbump.png
shaders/textures/ignore/earthmap.png
shaders/textures/ignore/earthnorm.png
shaders/textures/ignore/earthoceandepth.png
shaders/textures/ignore/earthspec.png
*.sqlite
shaders/textures/ignore/earthmap4k.png
shaders/lib/atmosphere/rainbow.glsl
